# NODE Dependencies
node_modules/
package-lock.json

# Public dirs
/public/build
/public/hot
/public/storage
/public/orisdata
/public/media
/storage/*.key

/bootstrap/cache

# Environment files
.env
.env.backup
exclude_file*
.phpunit.result.cache

_ide_helper_models.php
_ide_helper.php
deploy.sh
Homestead.json
Homestead.yaml
auth.json

# Logs
npm-debug.log
yarn-error.log

# IDE files
/.idea
/.vscode
/.scribe
/.cursor
.phpstorm.meta.php

# OS files
.DS_Store
Thumbs.db

# PHP
vendor/
